<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Отчёт об ошибке</h1>
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <% if current_user&.roles&.remove_bug_report? %>
      <%= generate_delete_button(@bugreport) %>
    <% end %>
</div>

<%= javascript_tag do %>
  const bugreport_id = '<%= @bugreport.id %>'
<% end %>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: bugreport_path, method: :put, html: { id: "bugreports" } do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название отчёта<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :title, class: "form-control form-control-user", placeholder: "Введите название отчёта", value: @bugreport.title %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select([*current_user.projects.all.to_a.map{ |p| [p.title, p.id] }], @bugreport.project.id), {}, { prompt: "Выберите проект", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Приоритет</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:priority_id, options_for_select(Priority.all.map{|u| [u.title, u.id]}, @bugreport.priority&.id),{}, { prompt: "Выберите исполнителя", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Серьезность</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:severity_id, options_for_select(Severity.all.map{|u| [u.title, u.id]}, @bugreport.severity&.id),{}, { prompt: "Выберите исполнителя", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Исполнитель</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:performer_id, options_for_select(User.all.map{|u| [u.name, u.id]}, @bugreport.performer_id), {}, { prompt: "Выберите исполнителя", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Окружение</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :environment, class: "form-control form-control-user", placeholder: "Окружение", value: @bugreport.environment %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Описание</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :description, class: "form-control form-control-user", placeholder: "Введите описание", value: @bugreport.description %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Полное описание</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :full_description, class: "form-control form-control-user", placeholder: "Введите полное описание", value: @bugreport.full_description %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Шаги</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :steps, class: "form-control form-control-user", placeholder: "Введите шаги", value: @bugreport.steps %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Комментарий</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :comment, class: "form-control form-control-user", placeholder: "Введите комментарий", value: @bugreport.comment %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Вложения:</p>
                </div>
                <div class="col-sm-10 align-middle">
                </div>
                <div class='module-container col-12 flex-shrink-0 p-2 rounded pl-4 m-1' id='module_1'>
                    <% @bugreport.attachments.each_with_index do |file, index| %>
                        <div class="col-12">
                            <%= index + 1 %>. <%= link_to file.file_name, download_file_path(id: file.id)  %>
                        </div>
                    <% end %>
                    <div class="form-group col-sm-3 custom-file ml-3 mt-3">
                      <%= file_field_tag 'attachments[]', multiple: true, class: "custom-file-input", id: 'customFile'  %>
                      <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                </div>
              </div>
              <hr>
              <%= button_tag "Сохранить", type: 'button', class: "btn btn-primary btn-user btn-block", id: "save_bugreports" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>