<section>
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="align-center h3 text-gray-800">Отчёт об ошибке</h1>
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <% if current_user&.roles&.edit_bug_report? %>
                <a href="<%= edit_bugreport_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Редактировать отчёт</a>
            <%end%>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Название отчёта</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.title %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Проект</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.project.title %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Приоритет</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.priority&.title %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Серьезность</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.severity&.title %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Исполнитель</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.performer %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Тестовое окружение</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.environment %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Описание</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.description %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Полное описание</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.full_description %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Шаги</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.steps %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Комментарий</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @bugreport.comment %></text>
                </div>
            </div>
            <hr>
        </div>
      </div>
    </div>
  </div>
</section>