<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Тест-кейс <%= @test_case.id %></h1>
  <h1 class="h3 mb-0 text-gray-800"></h1>
  <% if current_user.roles.remove_test_case? %>
    <%= generate_delete_button(@test_case) %>
  <% end %>
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: "/test_cases", method: :put, remote: true do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название тест-кейса<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :title, class: "form-control form-control-user", placeholder: "Введите название тест-кейса", value: @test_case.title %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Шаги<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :steps, class: "form-control form-control-user", maxlength: 5000, style: "min-height: 3rem", placeholder: 'Введите шаги тест-кейса', value: @test_case.steps %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ожидаемый результат<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :expected_result, class: "form-control form-control-user", placeholder: "Введите ожидаемый результат тест-кейса", value: @test_case.expected_result %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Требования</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :requirement, class: "form-control form-control-user", placeholder: "Введите требования тест-кейса", value: @test_case.requirement %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Модуль</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_module, class: "form-control form-control-user", placeholder: "Введите модуль тест-кейса", value: @test_case.test_module %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Предусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_data, class: "form-control form-control-user", placeholder: "Введите предусловие тест-кейса", value: @test_case.test_data %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Постусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :postconditions, class: "form-control form-control-user", placeholder: "Введите постусловие тест-кейса", value: @test_case.postconditions %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select(current_user.projects.all.to_a.map{ |p| [p.title, p.id] }, @test_case.project.id), {}, { prompt: "Выберите проект", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <%= f.submit "Сохранить", class: "btn btn-primary btn-user btn-block" %>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>