<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: "/test_cases", method: :post do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название тест-кейса<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :title, class: "form-control form-control-user", placeholder: "Введите название тест-кейса" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Шаги<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_area :steps, class: "form-control form-control-user", maxlength: 5000, style: "min-height: 3rem", placeholder: 'Введите шаги тест-кейса' %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ожидаемый результат<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :expected_result, class: "form-control form-control-user", placeholder: "Введите ожидаемый результат тест-кейса" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Требования</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :requirement, class: "form-control form-control-user", placeholder: "Введите требования тест-кейса" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Модуль</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_module, class: "form-control form-control-user", placeholder: "Введите модуль тест-кейса", value: @test_suite.title, readonly: true %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Предусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_data, class: "form-control form-control-user", placeholder: "Введите предусловие тест-кейса" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Постусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :postconditions, class: "form-control form-control-user", placeholder: "Введите постусловие тест-кейса" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select([*current_user.projects.all.to_a.map{ |p| [p.title, p.id] }]), {selected: params[:project_id].present? ? [Project.find_by(id: params[:project_id]).title, Project.find_by(id: params[:project_id]).id] : ""}, { prompt: "Выберите проект", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <%= hidden_field_tag 'id', @test_suite.id %>
              <%= f.submit "Сохранить", class: "btn btn-primary btn-user btn-block" %>
          <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>