<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Чек-лист</h1>
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <% if current_user&.roles&.remove_checklist? %>
      <%= generate_delete_button(@checklist) %>
    <% end %>
</div>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: checklist_path, method: :put, multiplie: true do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название чек-листа<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :head, class: "form-control form-control-user", placeholder: "Введите название чек-листа", value: @checklist.head %>
                </div>
              </div>
              <hr>
              <div class="row checklist_block">
                <div class="col-12">
                  <p class="mb-2">Тестовые модули: <i style="color: red">*</i></p>
                </div>
                <%- @checklist.checklist_module.each do |test_module| %>
                    <div class="module-container col-12 flex-shrink-0 p-2 rounded pl-4 m-1" id="module_<%= test_module.position %>">
                      <div class="mb-2">
                          <p class="mb-0"><%= test_module.position %> модуль.</p>
                      </div>
                      <div class="form-group mb-2 w-75">
                          <input 
                          name="checklists[modules][<%= test_module.position %>][name]" 
                          class="form-control form-control-user" 
                          id="checklists[modules][<%= test_module.position %>][name]" 
                          value="<%= test_module.name %>"
                          >
                      </div>
                      <div class="mb-2">
                          <p class="mb-0">Список проверок:</p>
                      </div>
                      <% test_module.module_check.each do |check| %>
                          <div class="mb-2 ml-3">
                              <p class="mb-0"><%= check.position %> проверка.</p>
                          </div>
                          <div class="form-group mb-2 w-75 ml-5">
                            <textarea
                            name="checklists[modules][<%= test_module.position %>][checklist][<%= check.position %>]" 
                            class="form-control form-control-user" 
                            id="checklists[modules][<%= test_module.position %>][checklist][<%= check.position %>]" 
                            type="text"><%= check.module_step %></textarea>
                          </div>
                      <% end %>
                      <div class="btn btn-primary btn-user btn-block checklist_<%= test_module.position %>" id="add_checklist_block_<%= test_module.position %>">Добавить проверки</div>
                    </div>
                <%- end %>
              </div>
              <div class="btn btn-primary btn-user btn-block" id="add_module_block">Добавить модуль</div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ожидаемый результат<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :expected_result, class: "form-control form-control-user", placeholder: "Введите ожидаемый результат", value: @checklist.expected_result %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Предусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_type, class: "form-control form-control-user", placeholder: "Введите предусловие", value: @checklist.test_type %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select(current_user.projects.all.to_a.map{ |p| [p.title, p.id] }, @checklist.project.id), {}, { prompt: "Выберите проект", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <%= f.submit "Сохранить", class: "btn btn-primary btn-user btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>