<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: "/checklists", method: :post, html: { id: "save_form" } do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название чек-листа<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :head, class: "form-control form-control-user", placeholder: "Введите название чек-листа" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select([*current_user.projects.all.to_a.map{ |p| [p.title, p.id] }]), {selected: params[:project_id].present? ? [Project.find_by(id: params[:project_id]).title, Project.find_by(id: params[:project_id]).id] : ""}, { prompt: "Выберите проект", class: "form-control form-control-user", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Предусловие</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :test_type, class: "form-control form-control-user", placeholder: "Введите предусловие" %>
                </div>
              </div>
              <hr>
              <p id="1_module">
                <div class="row checklist_block">
                  <div class="col-12">
                    <p class="mb-2">Тестовые модули: <i style="color: red">*</i></p>
                  </div>
                  <div class="col-sm-3">
                    <p class="mb-0 ml-3">1 модуль.</p>
                  </div>
                  <div class="form-group col-sm-9">
                    <%= f.text_field :test_module, class: "form-control form-control-user", placeholder: "Введите модуль" %>
                  </div>
                  <div class="сol-12">
                    <p class="mb-2 ml-3">Список проверок: <i style="color: red">*</i></p>
                  </div>
                </div>
              </p>
              <div class="btn btn-primary btn-user btn-block" id="add_checklist_block">Добавить модуль</div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ожидаемый результат<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :expected_result, class: "form-control form-control-user", placeholder: "Введите ожидаемый результат" %>
                </div>
              </div>
              <hr>
              <%= f.submit "Сохранить", class: "btn btn-primary btn-user btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>