<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <%= form_for '', url: "/checklists", method: :post, html: { id: "save_form" } do |f|%>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Название чек-листа<i style="color: red">*</i></p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.text_field :head, class: "form-control form-control-user", placeholder: "Введите название чек-листа" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Проект</p>
                </div>
                <div class="form-group col-sm-9">
                  <%= f.select(:project_id, options_for_select([*current_user.projects.all.to_a.map{ |p| [p.title, p.id] }]), {selected: params[:project_id].present? ? [Project.find_by(id: params[:project_id]).title, Project.find_by(id: params[:project_id]).id] : ""}, { prompt: "Выберите проект", class: "form-control form-control-user w-75", role: 'button'}) %>
                </div>
              </div>
              <hr>
              <div class="row checklist_block">
                <div class="col-12">
                  <p class="mb-2">Тестовые модули: <i style="color: red">*</i></p>
                </div>
                <div class='module-container col-12 flex-shrink-0 p-2 rounded pl-4 m-1' id='module_1'>
                  <div class="mb-2">
                    <p class="mb-0">1 модуль.</p>
                  </div>
                  <div class="form-group mb-2 w-75">
                    <%= f.text_field :test_module, class: "form-control form-control-user", placeholder: "Введите модуль", name: "checklists[modules][1][name]", id: "checklists[modules][1][name]" %>
                  </div>
                  <div class="mb-2 ml-3 checklist_1">
                    <p class="mb-0">Список проверок: <i style="color: red">*</i></p>
                  </div>
                  <div class="btn btn-primary btn-user btn-block checklist_1  w-25" id="add_checklist_block_1">Добавить проверку</div>
                </div>
              </div>
              <hr>
              <div class="col-12 d-flex align-items-center">
                <div class="btn btn-primary btn-user btn-block w-25" id="add_module_block">Добавить модуль</div>
              </div>
              <hr>
              <div class="col-12 d-flex align-items-center">
                <%= f.submit "Сохранить", class: "btn btn-primary btn-user btn-block w-25" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>