<section>
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="align-center h3 text-gray-800">Чек-лист</h1>
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1" data-toggle="modal" data-target="#usersModal">
                <i class="bi bi-people-fill"></i>
            </button>
            <a href="<%= edit_checklist_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>Edit project</a>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-2 align-middle">
                    <p class="mb-0">Название проекта</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-8">
                    <text class="text-center"><%= @checklist.head %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Список проверок</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-9">
                    <text class="text-center"><%= @checklist.checklist %></text>
                    <%#= f.date_field :start_at, class: "form-control form-control-user" %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Ожидаемый результат</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-9">
                    <text class="text-center"><%= @checklist.expected_result %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Модуль</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-9">
                    <text class="text-center"><%= @checklist.test_module %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Тип тестирования</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-9">
                    <text class="text-center"><%= @checklist.test_type %></text>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <p class="mb-0">Проект</p>
                </div>
                <i class="topbar-divider"></i>
                <div class="form-group col-sm-9">
                    <text class="text-center"><%= @checklist.project.title %></text>
                </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>